################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MG_58_2020/obj/Debug
/MG_58_2020/bin/Debug
